@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* Generic Styles */
/* * { */
/*    margin: 0; */
/*    padding: 0; */
/*    box-sizing: border-box; */
/*    text-decoration: none; */
/*    outline: none; */
/*    font-family: 'Nunito', sans-serif; */
/*    font-weight: 400; */
/* } */

/* html { */
    /* 1rem = 10px. Based upon 16px * 62.5% = 10px */
/*    font-size: 62.5%; */
/* } */

.row {
  /*helps remove unecessary white space on right vertical*/
  margin-left: 0;
  margin-right: 0;
}

ul {
  /* removes bullet points from unordered list */
  list-style-type: none;
}

/* Colours used in Papa's Tops Pizza website design */

/*  #0e1116 - 'rich black' - Black  */

/*  #747474 - 'cloud grey' - Grey */

/*  #FF652F - 'satsuma orange' - Orange */

/*  #FFE400 - 'buttercup yellow' - Yellow */

/*  #14A76C - 'watercress green' - Green */

/*  #FFFFFF - White text */

/*  #343A40 - Charcoal Grey (modal) */

/*  #BFBFBF - Grey text  */

/*  #FAFAFA - Off-White text */ 

/*-------------Navbar--------------*/

.navbar {
  width: 100%;
  height: 8.75rem;
  background-color: #0e1116;
  position: fixed; 
  top: -8.75rem; /* temp moved away from 0 to scroll navbar to top of screen */
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.125rem 0.125rem 0.125rem #0e1116; 
  transition: top 0.35s 0.25s;
}

.navbar.change {
  top: 0;
  transition: top 0.35s 0.25s;
}

.navbar-link {
  color: #BFBFBF;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: color 0.35s, opacity 0.25s;
}

.change .navbar-link {
  opacity: 1;
}

.change .navbar-link:nth-child(1) {
  transition: opacity 0.35s 0.45s, color 0.35s;
}

.change .navbar-link:nth-child(2) {
  transition: opacity 0.35s 0.55s, color 0.35s;
}

.change .navbar-link:nth-child(3) {
  transition: opacity 0.35s 0.65s, color 0.35s;
}

.change .navbar-link:nth-child(4) {
  transition: opacity 0.35s 0.75s, color 0.35s;
}

.navbar-link:hover {
  color: #FFF;
  text-decoration: none;
}

.navbar-link i {
  font-size: 4.375rem;
}

.navbar-link span {
  font-size: 1.5625rem;
  font-weight: 700;
  margin-top: 0.3125rem;
  letter-spacing: 0.2125rem;
}

.menu {
  width: 4.55rem;
  height: 4.5rem;
  background-image: url(../img/logo-branding.png);
  position: fixed;
  top: 0.625rem; /* temp moved away from 9.375rem to scroll navbar to top of screen */
  left: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
  /* Control speed of the menu tab for smooth up & down movement. */
  transition: top 0.35s; 
}

.menu.change {
  /* the menu tab is now able to move & down, based on the user clicking the tab. */
  top: 9.375rem;
  transition: top 0.35s;
}

.menu::before {
  content: "";
  width: 0.1875rem;
  height: 9.375rem;
  background-color: #0e1116;
  /* places an element relative to its parent's position and changing the layout around it */
  position: absolute;
  top: -9.375rem;
  left: calc(50% - 0.09375rem);
  box-shadow: 0.0625rem 0.0625rem #0e1116;
}

.postcode-text {
  color: #FFF;
  font-size: 1rem;
}

input {
  text-align: center;
  border: 2px solid #0e1116;
  border-radius: 0.5rem;
  height: 2.8125rem; /* aligns to order button */ 
  font-size: 1rem;
}

/*-------------Header--------------*/

header.masthead {
  margin-bottom: 3.125rem;
  background: no-repeat center center;
  background-color: #868e96;
  /*Raincloud Grey*/
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  /*Coal Black*/
  opacity: 0.25;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 12.5rem 0 9.375rem;
  color: #FFF;
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 3.125rem;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 0.625rem 0 0;
}

header.masthead .post-heading h1 {
  font-size: 2.1875rem;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.625rem 0 1.875rem;
}

header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #FFF;
  /*White*/
}

/*--------------- Buttons---------------*/

.btn-read {
    /*Button used for signing upto Papa's Tops Pizza*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #0e1116;
    /*Black*/
    border-radius: 0.5rem;
    color: #0e1116;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-read:hover {
    background-color: #0e1116;
    /*Black*/
    border: 0.1rem solid #0e1116;
    border-radius: 0.5rem;
    color: #FFE400;
    /*Yellow*/
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

/*--------------- Modals ---------------*/

/* Modals */

.modal-header,
.modal-body,
.close {
    color: #FFFFFF;
}

.close:hover {
    /*Yellow*/
    color: #FFE400;
}

.modal-content {
    /*Charcoal Grey*/
    background-color: #343A40;
}

.form-group {
    color: #FFFFFF;
}

.modal-body i .fas fa-envelope,
.modal-body i .fas fa-envelope-open-text {
  font-size: 1rem;
  font-weight: 400;
}

td,
.hours {
  color: #FF652F;
}

/*--------------- Meal Deals ---------------*/

* {
  box-sizing: border-box;
}

.main {
  max-width: 62.5rem;
  padding-top: 1rem;
  margin: auto;
}

.column {
    /* Create three equal columns that floats next to each other */
  float: left;
  width: 100%;
    /* Hide all elements by default */
  display: none; 
}

.content {
  background-color: white;
  padding: 0.625rem;
}

.picture img {
  border-radius: 50%;
  max-height: 15.625rem;
  max-width: 15.625rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/*-------------- Carousel---------------*/

#carousel-background {
  /*  #747474 - 'cloud grey' - Grey */
  /*  #FFE400 - 'buttercup yellow' - Yellow */
  /*  #FF652F - 'satsuma orange' - Orange */
  background-image: linear-gradient(to bottom right, #747474, #FFE400, #ff652F);
}

.pizza {
  padding-top: 3rem;
}

.pizza-header {
  color: #747474;
  text-align: center;
  justify-content: center;
  display: flex;
}

.carousel-inner img {
    /* Makes the carousel image fully responsive */
    border-radius: 50%;
    max-height: 15.625rem;
    max-width: 15.625rem;
    padding: 1.1rem;
  }

.carousel-item p {
  /* Provides a semi-transparent background to names of pizza on carousel. */
   color: #0e1116;
   font-weight: 500;
   background-color: #FFE400;
   opacity: 0.85;
   padding: 5px 10px 5px 10px;
   border-radius: 6px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/*------------ Block Divider -----------*/

.block-divider-short {
  text-align: center;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #0e1116;
  /*Black*/
}

/*--------------- Footer ---------------*/

#footer {
  background-color: #FFE400;
  /*Yellow*/
  border-color: #FFE400;
  /*Yellow*/
}

.footer-text li a {
  font-size: 1rem;
  font-weight: 600;
  color: #0e1116;
  /*Black*/
}

#footer .text-uppercase {
  font-size: 1.5rem;
  font-weight: 600;
}

#footer .payment {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------- Social Media & Finance -------*/

.fa-facebook-square,
.fa-twitter-square,
.fa-cc-visa,
.fa-cc-mastercard,
.fa-credit-card,
.fa-cc-jcb {
  font-size: 2.5rem;
  color: #0e1116;
  /*Black*/
}

#footer li a i:hover {
    /* All footer icons will increase by 15% when hovered by user */ 
    transform: scale(1.15);
    opacity: 0.9;
}

/*----------- Media Queries ------------*/


